/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --primary: #e82583;
    --black: #000000;
    --secondary: #262626;
    --nav-link: #272727;
    --light-dark: #262932;
    --gray: #606060;
    --light-gray: #666666;
}

body {
    font-family: "Popins", sans-serif;
    background: #ffffff;
}

/* Section */
section {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

/* Header part */
nav {
    padding: 1rem 0;
}
.logo img {
    max-width: 130px;
}
nav ul {
    gap: 1.8rem;
}
.nav-link,
.header-phone-number,
.why-whytecleon {
    font-size: 1rem;
    font-weight: 600;
    color: var(--nav-link);
    transition: 0.3s ease-in-out;
    padding: 0.3rem 0.9rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}
.nav-link:hover {
    border: 1px solid var(--primary);
}
.nav-link.active {
    border: 1px solid var(--primary);
}
.header-phone-number {
    gap: 1rem;
    font-size: 0.9rem;
}
.why-whytecleon {
    background: var(--primary);
    gap: 0.2rem;
    padding: 0.5rem 0.9rem;
    font-size: 0.9rem;
    margin-right: -1rem;
}
.country-flag {
    gap: 0.3rem;
}
.flag {
    max-width: 2rem;
}
.flag-changer {
    max-width: 1.5rem;
}

/* Employee page */
.employee-top {
    background-image: url("../images/employee-banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 1.5rem 0;
}
.banner-overlay {
    position: absolute;
    background: linear-gradient(
        90deg,
        #e82583ee 0%,
        #e82583cb 20%,
        #f7f7f7ed 100%
    );
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.employee-photo img {
    max-width: 20rem;
}
.employee-info h1 {
    font-size: 5rem;
    font-weight: 700;
}
.employee-info h3 {
    font-size: 1.2rem;
    font-weight: 600;
}
.employee-info {
    gap: 0.4rem;
}
.employee-info .social-links {
    gap: 0.5rem;
}
.employee-photo {
    height: 20rem;
    width: 20rem;
}
.employee-photo img {
    border-radius: 2.5rem;
    object-fit: cover;
}

/* Headings */
.top-heading {
    color: var(--primary);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1234rem;
    display: flex;
    gap: 2.5rem;
    align-items: center;
}
.top-heading::after {
    content: "";
    width: 4rem;
    height: 0.13rem;
    background: var(--primary);
}
.heading {
    font-size: 3rem;
    font-weight: 600;
    padding: 0.5rem 0;
}
.heading span:nth-child(1) {
    color: var(--secondary);
}
.heading span:nth-child(2) {
    color: var(--primary);
}
.sub-heading {
    color: var(--light-dark);
    padding-bottom: 0.5rem;
}
/* Paragraph */
.paragraph {
    color: var(--secondary);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8rem;
}

/* Footer */
footer {
    padding: 3rem 0;
}
.footer-grid,
.left,
.right,
.left-top {
    gap: 2rem;
}
.footer-map img {
    width: 100%;
}
.about-whytecleon,
.left {
    flex: 2;
}
.right,
.navigation,
.find-us {
    flex: 1;
}
.about-whytecleon img {
    max-width: 13rem;
}
.about-whytecleon p span {
    color: var(--gray);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8rem;
}
.about-whytecleon p a {
    color: var(--gray);
    font-weight: 700;
    font-size: 0.85;
    margin: 0.5rem 0;
}
footer ul {
    gap: 1rem;
}
footer ul li a {
    color: var(--light-gray);
    font-size: 0.85rem;
    font-weight: 700;
}
.footer-heading {
    color: var(--light-dark);
    font-weight: 700;
    font-size: 1.2rem;
    padding: 1.5rem 0;
}
.insta-post {
    flex-wrap: wrap;
    gap: 1rem;
}
.insta-post img {
    max-width: 7rem;
    max-height: 7rem;
    object-fit: cover;
}
.contact-info {
    gap: 1rem;
}
.contact-info div {
    gap: 0.2rem;
}
.contact-info img {
    margin-top: 0.4rem;
    margin-right: 0.4rem;
}
.line {
    padding: 1rem 0;
}
.copyright {
    color: var(--gray);
    font-size: 0.84rem;
}
