/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
    --primary: #e82583;
    --black: #000000;
    --secondary: #262626;
    --nav-link: #272727;
    --light-dark: #262932;
    --gray: #606060;
    --light-gray: #666666;
}

body {
    font-family: "Popins", sans-serif;
    background: #ffffff;
}

/* Section */
section {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

/* Primary button */
.btn-primary {
    font-weight: 600;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    background: var(--primary);
    gap: 0.2rem;
    padding: 0.5rem 0.9rem;
    font-size: 0.9rem;
    width: fit-content;
}
.btn-primary span {
    color: #ffff;
}

/* Header part */
nav {
    padding: 1rem 0;
}
.logo img {
    max-width: 130px;
}
nav ul {
    gap: 1.8rem;
}
.nav-link,
.header-phone-number,
.why-whytecleon {
    font-size: 1rem;
    font-weight: 600;
    color: var(--nav-link);
    padding: 0.3rem 0.9rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}
.nav-link:hover {
    border: 1px solid var(--primary);
    transition: 0.3s ease-in-out;
}
.nav-link.active {
    border: 1px solid var(--primary);
}
.header-phone-number {
    gap: 1rem;
    font-size: 0.9rem;
}
.why-whytecleon {
    background: var(--primary);
    gap: 0.2rem;
    padding: 0.5rem 0.9rem;
    font-size: 0.9rem;
    margin-right: -1rem;
}
.country-flag {
    gap: 0.3rem;
}
.flag {
    max-width: 2rem;
}
.flag-changer {
    max-width: 1.5rem;
}

/* Employee page */
.employee-top {
    background-image: url("../images/employee-banner.png");
    padding: 1.5rem 0;
}
.banner-overlay {
    position: absolute;
    background: linear-gradient(
        90deg,
        #e82583e1 0%,
        #e82583b6 40%,
        #f8aad093 100%
    );
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.employee-photo {
    height: 20rem;
    width: 20rem;
    position: relative;
    overflow: hidden;
    border-radius: 2.5rem;
}
.employee-photo img {
    object-fit: cover;
    max-width: 20rem;
    border-radius: 2.5rem;
}
.employee-photo::after {
    content: "";
    position: absolute;
    background: #72726d;
    width: 100%;
    height: 100%;
    right: 0;
    transform: rotate(45deg) translate(0, -95%);
}
.employee-photo::before {
    content: "";
    position: absolute;
    background: #72726d;
    width: 100%;
    height: 100%;
    right: 0;
    transform: rotate(135deg) translate(0, -110%);
}
.employee-info h1 {
    font-size: 5rem;
    font-weight: 700;
}
.employee-info h3 {
    font-size: 1.2rem;
    font-weight: 600;
}
.employee-info {
    gap: 0.4rem;
}
.employee-info .social-links {
    gap: 0.5rem;
}

/* Section top */
.section-top {
    height: 23rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

/* Headings */
.top-heading {
    color: var(--primary);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1234rem;
    display: flex;
    gap: 2.5rem;
    align-items: center;
}
.top-heading::after {
    content: "";
    width: 4rem;
    height: 0.13rem;
    background: var(--primary);
}
.heading {
    font-size: 3rem;
    font-weight: 600;
    padding: 0.5rem 0;
}
.heading span:nth-child(1) {
    color: var(--secondary);
}
.heading span:nth-child(2) {
    color: var(--primary);
}
.sub-heading {
    color: var(--light-dark);
    padding-bottom: 0.5rem;
}
.white-heading {
    font-size: 3rem;
    font-weight: 600;
    color: #ffffff;
}

/* Paragraph */
.paragraph {
    color: var(--secondary);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
}

/* Footer */
footer {
    padding-bottom: 3rem;
    padding-top: 6rem;
}
.footer-grid,
.left,
.right,
.left-top {
    gap: 2rem;
}
.footer-map img {
    width: 100%;
}
.about-whytecleon,
.left {
    flex: 2;
}
.right,
.navigation,
.find-us {
    flex: 1;
}
.about-whytecleon img {
    max-width: 13rem;
}
.about-whytecleon p span {
    color: var(--gray);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8rem;
}
.about-whytecleon p a {
    color: var(--gray);
    font-weight: 700;
    font-size: 0.85;
    margin: 0.5rem 0;
}
.about-whytecleon p a:hover {
    transition: 0.3s ease-in-out;
    color: var(--primary);
}
footer ul {
    gap: 1rem;
}
footer ul li a {
    color: var(--light-gray);
    font-size: 0.85rem;
    font-weight: 700;
}
footer ul li a:hover {
    color: var(--primary);
    transition: 0.3s ease-in-out;
}
.footer-heading {
    color: var(--light-dark);
    font-weight: 700;
    font-size: 1.2rem;
    padding: 1.5rem 0;
}
.insta-post {
    flex-wrap: wrap;
    gap: 1rem;
}
.insta-post img,
.insta-post iframe {
    max-width: 7rem;
    max-height: 7rem;
    object-fit: cover;
}
.contact-info {
    gap: 1rem;
}
.contact-info div {
    gap: 0.2rem;
}
.contact-info img {
    margin-top: 0.4rem;
    margin-right: 0.4rem;
}
.line {
    padding: 1rem 0;
}
.copyright {
    color: var(--gray);
    font-size: 0.84rem;
}

/* Our blog page */
.our-blog {
    background: url("../images/blog-banner.png");
    justify-content: end !important;
}
.our-blog-heading {
    color: var(--secondary);
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 2rem;
}
.blog-categories ul {
    gap: 3rem;
    color: var(--gray);
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
}
.blog-categories ul li a {
    position: relative;
}
.blog-categories ul li a.active::after {
    content: "";
    position: absolute;
    background: var(--primary);
    height: 0.2rem;
    border-radius: 1.2rem;
    width: 4rem;
    bottom: 0;
    transform: translate(-100%, 200%);
}
.blog-categories hr {
    border: 1px solid #c1c1c1;
    margin-top: 0.03rem;
}
.blogs {
    padding: 2rem 0;
    flex-wrap: wrap;
}
.blog {
    width: 25%;
    gap: 1rem;
    position: relative;
    padding: 1.5rem;
}
.blog::after {
    content: "Category";
    position: absolute;
    background: var(--primary);
    padding: 0.4rem 0.8rem;
    border-radius: 2rem;
    color: #ffffff;
    font-size: 0.67rem;
    font-weight: 600;
    transform: translate(20%, -50%);
}
.blog img,
.blog iframe {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 1rem;
}
.blog-info {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.blog-info-data img {
    width: 1rem;
}
.blog-info-data span {
    color: #474c52;
    font-size: 0.7rem;
    font-weight: 700;
}
.blog-info-data {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
.blog-detail h3 {
    font-size: 1rem;
    font-weight: 700;
    color: var(--gray);
    line-height: 1.5rem;
    padding-bottom: 1rem;
}
.blog-detail p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray);
    text-align: justify;
    line-height: 1.5rem;
}

/* Pagination */
.pager {
    background: #f7f7f7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.pager a {
    font-family: "Lato", sans-serif;
    font-size: 0.7rem;
    font-weight: 600;
    color: #adadad;
    border-radius: 50%;
    padding: 1rem;
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.pager a.active {
    background: var(--primary);
    color: #ffffff;
}
.pager a:hover {
    background: var(--primary);
    color: #ffffff;
    transition: 0.3s ease-in-out;
}
.pager img {
    cursor: pointer;
}

/* Single blog */
.blog-heading {
    font-size: 3rem;
    font-weight: 600;
    color: var(--light-dark);
    padding-bottom: 1.5rem;
}
.full-blog img {
    width: 100%;
    margin: 3rem 0;
}
.related-blog-heading {
    font-size: 2rem;
    font-weight: 600;
    color: var(--light-dark);
    margin-top: 3rem;
}

/* Contact us page */
#contact-us .section-top {
    background: var(--primary);
    padding-bottom: 4rem;
}
#contact-us .section-top p {
    padding: 1rem 0;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
}
.wave {
    width: 100%;
    bottom: 0;
}
#contact-form {
    background: #ffffff;
    transform: translateY(-38%);
    padding: 2rem;
    border-radius: 0.5rem;
}
.input-group {
    gap: 1rem;
    padding: 0.5rem 0;
}
#contact-form input,
#contact-form select,
#contact-form textarea {
    border: 1.25px solid #c3cad9;
    border-radius: 0.2rem;
    padding: 0.9rem;
}
#contact-form input:focus,
#contact-form select:focus,
#contact-form textarea:focus {
    border: 1.25px solid var(--primary);
    outline: none;
}
#contact-form input::placeholder,
#contact-form select::placeholder,
#contact-form textarea::placeholder {
    font-family: "Popins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
#contact-form label {
    padding-bottom: 0.5rem;
}
#contact-form .paragraph {
    color: var(--gray);
    padding-bottom: 0.6rem;
}
#contact-form input[type="submit"] {
    background: var(--primary);
    color: #ffffff;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 2rem;
    padding: 0.7rem 2rem;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}
.more-contact-info {
    flex-wrap: wrap;
    margin-top: -7rem;
}
.more-contact-info div {
    width: 30%;
    gap: 1rem;
}
.more-contact-info div > img {
    border: 1px dashed var(--gray);
}
.more-contact-info h4 {
    color: #183b56;
    font-size: 1rem;
    font-weight: 600;
}
.more-contact-info p {
    color: var(--gray);
    font-size: 1rem;
    font-weight: 400;
}
.more-contact-info a {
    color: var(--primary);
    font-weight: 700;
    font-size: 1rem;
}
#support-center-btn {
    border: 2px solid var(--primary);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
.find-us-on-map {
    padding-top: 3rem;
}
.find-us-on-map .map {
    width: 100%;
    padding-top: 1rem;
}

/* oval */
.oval {
    position: absolute;
    left: 0;
    height: 100%;
}
.oval-inverse {
    position: absolute;
    height: 100%;
    right: 0;
    rotate: 180deg;
}

.pin:nth-child(1) {
    top: 25%;
    left: 25%;
}
.pin:nth-child(2) {
    bottom: 0%;
    right: 10%;
}

/* Why whytecleon page */
#why-whytecleon .section-top {
    background: url("../images/why-white-cleon.png");
}
#why-whytecleon .white-heading {
    text-align: center;
    padding-top: 3rem;
}
.wwc-card {
    width: 30%;
    text-align: center;
    background: #ffffff;
    box-shadow: 0px 19.6547px 46.329px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: 1rem;
}
.wwc-card h4 {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem 0;
    color: #222222;
}
.wwc-card p {
    color: var(--gray);
    font-weight: 400;
    font-size: 1rem;
}

/* Volume */
.volume {
    height: 0.3rem;
    border-radius: 1rem;
    width: 5rem;
    background: #fdafd5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.volume::after {
    content: "";
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    background: var(--primary);
}
#why-whytecleon .heading {
    padding: 3rem 0;
}
.reviews {
    gap: 2rem;
    flex-wrap: wrap;
}
.r-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    padding: 1rem;
    background: var(--primary);
    margin: 0 auto 1rem auto;
}
.wwc-card h6 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--secondary);
}

/* Service page */
.service-slider {
    height: 18rem;
    display: grid !important;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    margin-right: 1rem;
}
.service-slider .item {
    background-color: #930047;
    position: relative;
    width: 100%;
    border-radius: 2rem;
    padding: 1rem;
    color: #ffffff;
    font-weight: 600;
    font-size: 0.9rem;
}

.vertical {
    grid-row-end: span 2;
    display: flex;
    align-items: end;
    justify-content: end;
    rotate: 180deg;
}
.vertical span {
    transform: rotate(90deg) translate(-50%, -100%);
}
.horizontal {
    grid-column-end: span 2;
}
.services {
    padding: 5rem 0 15rem 0;
    gap: 8rem;
    transform: translateX(-2%);
}
.service-item {
    border-top-right-radius: 15rem;
    border-bottom-left-radius: 15rem;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    transform: translate(9%, -9%);
}
.service-item img {
    object-fit: cover;
}
.outline-right ~ .watermark {
    top: 110%;
}
.watermark {
    position: absolute;
    z-index: -1;
    left: 0;
    padding-left: 3rem;
    top: 60%;
}
.service-overlay {
    background: linear-gradient(
        326.36deg,
        #e82583 -2.3%,
        rgba(232, 37, 131, 0) 58.84%
    );
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.service-item h4 {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #ffffff;
    padding: 0 1.5rem 1.5rem 0;
    width: 50%;
    text-align: end;
    font-size: 1.6rem;
}
.outline {
    border-top-right-radius: 15rem;
    border-bottom-left-radius: 15rem;
    border: 4px solid var(--primary);
    background: #ffffff;
}
.outline-right {
    transform: translateY(50%);
}
.sb-heading {
    padding: 4rem 0 2rem 0;
}
.rl-slider {
    background: url("../images/service-bottom.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 0;
    position: relative;
}
.rl-slider::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #e82583;
    mix-blend-mode: overlay;
    z-index: -1;
}

/* Management page */
.vertical-slider {
    display: flex !important;
    gap: 2rem;
}
.v-item {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}
.wave-bg {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: -1;
}
.v-item .paragraph {
    color: var(--gray);
    padding-bottom: 1rem;
}
.slick-dots {
    position: unset !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 0.5rem;
    width: unset !important;
}
.slick-dots li button:before {
    border-radius: 50%;
    width: 0.7rem !important;
    height: 0.7rem !important;
    background-color: var(--primary);
}
.slick-dots li {
    margin: 0 !important;
}
.v-item > div {
    width: 50%;
}
.employee-box {
    gap: 2rem;
    padding: 2rem 0;
}
.employee-box > img {
    border-radius: 2rem;
    width: 50%;
    background: #565756;
}
.employee-box .info {
    width: 50%;
}
.employee-box .info > span {
    font-size: 1rem;
    font-weight: 500;
    color: var(--secondary);
}
.employee-box .info > p {
    color: var(--gray);
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    padding: 0 2rem;
    margin: 1rem 0;
}
.employee-box .info > p::after {
    content: "";
    background: #3b2f4a;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0.1rem;
    border-radius: 1rem;
}
.employee-box .links img {
    margin: 1rem 0.5rem 1rem 0;
}
.bio-btn {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--primary);
    border: 3px solid var(--primary);
    border-radius: 0.5rem;
    padding: 1rem 3rem;
    display: inline-block;
}

/* The Board Page */
.board-slider {
    margin: 2rem;
}
.board-box {
    height: 100vh;
}
.board-slider .item img {
    background: linear-gradient(0deg, #ffffff 0.03%, #e2e2e2 100%);
    border-radius: 0.5rem;
}
.board-slider .item > div {
    background: #ffffff;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    margin: 1rem 0;
}
.board-slider h3 {
    color: var(--secondary);
    font-size: 1.2rem;
    font-weight: 600;
}
.board-slider span {
    color: var(--primary);
    font-size: 0.9rem;
    font-weight: 500;
}
.board-slider .owl-item {
    padding: 2rem;
    opacity: 0.5;
}
.board-slider .owl-item.center {
    transition: 1s ease-in-out;
    opacity: 1;
    padding: 0;
}
.board-slider .owl-item.center .item > div {
    display: block;
}

/* About page */
#about .container > p {
    color: var(--gray);
}
.about-top > div > img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}
